body{
    background-color: aquamarine;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0;
}
#weather-container{
    justify-items: center;
    background-color: rbga(255,255,255,0.3);
    padding:20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rbga(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rbga(255,255,255,0.1);
    text-align: center;
}

h2, p {
    color:navy;
    margin: 8px 0;
}

button{
    background-color: aqua;
    color: azure;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 15px;
    margin-top: 20px;
}
button:hover{
    background-color: white;
    color: aqua;
}

weather-icon{
    width: 70px;
    height: 70px;
    margin-bottom: 0;
}

@media(max-width: 400px){
    button{
      background-color: rgba(95, 158, 160, 0.8);
      font-size: xx-small; 
      padding:0; 
    }
}